@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Merriweather');

html{
  font-size: 0.625em;
}

body, body *{
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/**
 * LAYOUT
 */

/**
 * LAYOUT HELPERS
 */
/* Grid */
.row {
  clear: both;
  padding: 1px;
}

/** Clearfix **/
.row::after {
  content: '';
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 0 1em;
}

.col-3-4 {
  width: 50%;
}


.col-1-4 {
  width: 50%;
}

.content-wrapper {
  max-width: 1024px;
  width: 75%;
  margin: auto;
}

/* End grid */

/* Site specific */
header, footer {
  background: #228B22;
}

.site-content {
  min-height: calc(100vh - 226.375px - 52px); /* full height - header height - footer height */
}
/**
 * TYPOGRAPHY
 */

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

h1, h2 {
  font-family: 'Merriweather', Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

header, footer {
  color: #FFF;
}

header h1 {
  font-size: 6rem;
}

/* Site specific */
main {
  text-align: justify;
}

/* Navigation */
.site-navigation {
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
}

.site-navigation>ul>li {
  display: inline-block;
}

.site-navigation a {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  padding: 1em;
}

.site-navigation a:hover {
  background: #90EE90;
}

.site-navigation a:active {
  text-decoration: underline;
}
/* End navigation */
